<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Payroll App{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('styles/style.css') }}">
    </head>
    <body>
    <header>
        {% block header %}
            {{ include('header/header.html.twig') }}
        {% endblock %}
    </header>
    <main>
        {% block main %}
            {% if app.user %}
                <h1>Welcome</h1>
            {% else %}
                <h1>Payroll App</h1>
            {% endif %}
        {% endblock %}
    </main>
    <footer>
        {% block footer %}
            {{ include('footer/footer.html.twig') }}
        {% endblock %}
    </footer>
    </body>
</html>
