{% extends 'base.html.twig' %}

{% block main %}
    <div>
    {% for msg in app.session.flashbag.get('info') %}
        <p class="msg">{{ msg }}</p>
    {% endfor %}

    <form id="change-password" method="post">
        <fieldset>
            <legend>Change Password</legend>
                <p>{{ form_start(form) }}</p>
                <p>{{ form_widget(form) }}</p>
                <p>{{ form_end(form) }}</p>
        </fieldset>
    </form>
    </div>
{% endblock %}

