{% extends 'base.html.twig' %}

{% block main %}
    <h1>My Old Payments</h1>
    {% for payment in payments %}
        <ul>
            <li>Payment {{ payment.payPeriod }}</li>
            <li>Payment {{ payment.payPeriod }}</li>
            <li>Payment {{ payment.payPeriod }}</li>
        </ul>
    {% endfor %}
{% endblock %}

