<p>Payroll App</p>
<ul>
    {% if app.user %}
        <li>
            <a href="{{ path('employee_profile') }}">
                My Profile
            </a>
        </li>
        <li>
            <a href="{{ path('my_payments_history') }}">
                Payments History
            </a>
        </li>
        <li>
            <a href="{{ path('security_logout') }}">
                Logout
            </a>
        </li>
    {% else %}
        <li><a href="{{ path('security_login') }}">Login</a></li>
    {% endif %}
</ul>